@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

#header-section {
  z-index: 1;
}



.about-us {
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 30px;
}

.header-text-container {
    align-self: center;

    margin-top: 50px;
}

.about-us-subsection {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.about-us-subsection-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
}
/* ABOUT US IMAGE */
.about-img {
    height: fit-content;
    width: fit-content;
}


/* READ MORE BUTTON AND SHOW LESS BUTTON */

.read-more, .show-less {
    border: none;
    color: #F08228;
    background-color: transparent;
}

.more-txt, .hidden {
    display: none;
}

.show {
    display: block;
}

/* OUR MISSION */

.text-2 b {
    color: #1d70b8;
}

/* WHAT WE DO SECTION */
.what-we-do, .we-work-main {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 50px;

    background-color: rgba(29, 112, 184, 25%);

    padding: 30px 0;
}

.we-work-main {
    background-color: transparent;
}


.we-bring, .we-work {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reg-btn, .donate-btn {
    border: none;
    color: white;
    background-color: #F08228;

    height: 30px;
    width: 80px;

    border-radius: 2px;

}

/* OFFERINGS */
.offering {
    display: flex;
    gap: 10px;
}

.offerings {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    padding-top: 25px;
}

.offering img {
    height: 50px;
    width: 50px;

    align-self: center;
}

/* WE WORK SECTION */

.we-work-main-img img {
    height: 450px;
    width: 450px;
}


/* MEET SPEAKERS SECTION */
.meet-speakers {
    display: flex;
    flex-direction: column;
    
    margin-top: 30px;
    padding: 30px 0;

    background-color: rgba(29, 112, 184, 25%);   
}

.card-nd-link {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.speaker-card {
    display: flex;
    gap: 40px;
    margin: 20px 0;

    justify-content: center;
}

.card-nd-link a {
    align-self: center;
}

.speaker-card img {
    height: 300px;
    width: 250px;
}

/* CONTACT US */
.contact-us {
    display: flex;
    flex-direction: column;


    justify-items: center;
    align-items: center;

    padding-bottom: 50px;
}

.contact-us h3 {
    align-self: center;
    margin: 50px 0;
}

.image-n-form {
    display: flex;
    gap: 50px;
}

.contact-image img {
    height: 500px;
    width: auto;
    align-self: center;
}

.form-area {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;

    height: 450px;
    width: 350px;

    box-shadow: 0 0 10px;

    /* padding-bottom: 20px; */
}

.form-area-hidden {
    display: none;
}

.form-area form {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

.form-area form input {
    background-color: #F5F5F5;
    border: none;

    width: 300px;
    height: 40px; 
    padding: 10px;
}

.form-area form button {
    color: white; 
    border: none; 
    background-color: #f08228; 
    height: 30px; 
    width: 90px;
}

/* CARROUSEL */
.swiper {
    height: 500px;
    z-index: 1;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-text {
    text-align: center;
    line-height: 40px;
    
}


.carousel-item.active {
    opacity: 1;
}

.slide1 {
    background-image: url(../images/donate\ now\ 1.png);
    background-size: cover contain;
    background-repeat: no-repeat;

}

.swiper-slide b {
    align-items: center;
    margin: 50px 0;
    display: flex;

    justify-content: center;
    align-items: center;
}

.slide2 {
    background-size: cover contain;
    background-repeat: no-repeat;
}

.slide3 {
    background-color: #444;
    background-size: cover contain;
    background-repeat: no-repeat;
}

/* FOOTER */
.footer {
    background-color: #1D70B8;

    color: white;

    padding-bottom: 50px;
}

.logo-area img {
    height: 50px;
    width: 50px;
}

.footer-nav ul li {
    list-style: none;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 300px;

    align-items: center;

    justify-content: center;

    padding: 50px 50px;
}

.wrapper1, .footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.footer-contact img {
    height: 30px;
    width: 30px;
}

.footer-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.follow {
    display: flex;
    gap: 25px;
    padding-left: 50px;
}

.button-n-input {
    display: flex;
    flex-direction: row-reverse;
}

.button-n-input input  {
    height: 30px;
    width: 20rem;

    padding: 0 10px;
    border: none;
}

.email-btn {
    height: 30px;
    width: 4rem;

    border: none;
    background-color: #F08228;
    color: white;
}


/* MEDIA QUERY */

@media screen and (max-width: 767px) {

    .about-img {
        height: 500px;
        width: 350px;

        padding: 50px 0;
    }

    .about-us-subsection {
        flex-direction: column;
        align-items: center;
    }

    .offerings{
        align-content: center;
    }

    .offering {
        flex-direction: column;
        padding: 0 20px;
    }

    .offering img {
        align-self: start;

    }
    
    .we-work-main-img {
        display: flex;
        justify-content: center;
    }

    .offerings {
        flex-direction: row;
    }

    .we-bring {
        margin-top: 50px;
        align-self: center;        
    }

    .reg-btn, .donate-btn {
        align-self: center;
    }

    .what-we-do, .we-work-main {
        flex-direction: column-reverse;
        text-align: center;
        justify-self: center;
    }

    .speaker-card {
        flex-direction: column;
        align-items: center;
    }

    .contact-image img, .contact-image {
        width: 350px;

    }

    .form-area-hidden {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-direction: column;

        margin-top: 50px;
    
        height: 400px;
        width: 350px;

        
    
        box-shadow: 0 0 10px;
    }

    .form-area-hidden form {
        gap: 10px;

        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-direction: column;

    }

    .form-area-hidden form input {
        background-color: #F5F5F5;
        border: none;
    
        width: 300px;
        height: 40px; 
        padding: 10px;
    }

    .form-area-hidden form button {
        color: white; 
        border: none; 
        background-color: #f08228; 
        height: 30px; 
        width: 90px;
    }

    .contact-image {
        align-self: center;
    }

    .form-area {
        display: none;
    }

    .form-area form input {
        width: 200px;
    }

    .footer {
        gap: 20px;
    }

    .button-n-input input {
        width: 100px;
    }

    .footer-wrapper2 {
        flex-direction: column;
    }

    .follow {
        gap: 5px;
        align-content: center;
        padding: 0;
    }

}

@media screen and (max-width: 586px) {
    /* .carousel-item {
        margin-right: 10px;
    } */

    .tesimonials {
        margin-bottom: 50px;
    }

    .footer {
        gap: 0;
        padding-bottom: 0;
        margin: 0;
    }

    .footer-wrapper {
        flex-direction: column;
        margin: 0;
        padding: 20px 0 10px 0;
    }

    .wrapper1, .contact {
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    

    .offerings {
        flex-direction: column;
        text-align: center;
        gap: 30px;

        justify-content: center;
    }

    .offering  img{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

}

@media screen and (max-width: 1320px) {
    .carousel-controls {
        gap: 60rem;
    }

}

@media screen and (max-width: 1087px) {

    .what-we-do, .we-work-main {
        margin: 50px 0; 
        padding: 30px 0;
    }

    .we-work-main-img img {
        height: 350px;
        width: 350px;
    }

    .carousel-controls {
        gap: 50rem;
    }

    .footer-wrapper2 {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 930px) {

    .what-we-do, .we-work-main {
        gap: 20px;

        padding: 20px 0;
    }

    .we-work-main-img img {
        height: 300px;
        width: 300px;
    }

    .carousel-controls {
        gap: 40rem;
    }

    .image-n-form {
        display: flex;
        flex-direction: column;
    }

    .form-area {
        width: 500px;
    }

    .speaker-card {
        gap: 10px;
    }
    .speaker-card img {
        height: 250px;
        width: 200px;
    }

    .footer {
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .footer-wrapper {
        gap: 150px;
    }
    
}

* {
    margin: 0;
    padding: 0;

}

/* BANNER SECTION */
#head-section {
    position: fixed;
    top: 0;
}

#header-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    background-color: white;
    width: 100vw;

    justify-content: center;

}

#header-banner .banner-sub {
    display: flex;
    gap: 550px;
    align-items: center;
    height: 70px;
    background-color: white;

    justify-content: center;

}

.logo {
  width: 200px;  
}

/* .search-bar {
    width: 450px;
    height: 35px;
    border: solid 1px rgb(30, 28, 28);
    border-radius: 10px;
    margin: 0;

    padding: 10px;
} */

.cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.mobile-cta-wrapper button {
    height: 35px;
    width: 120px;
    border-radius: 5px;
}

.mobile-cta {
    display: none;
}

.log-in, .log-in-m {
    color: white;
    background-color: #EF7A1A;

    border: none;
    font-weight: bold;
}

.register, .register-m {
    color: black;
    background-color: white;

    border: 1px solid black;
    font-weight: bold;
}

.cta-buttons button {
    width: 100px;
    height: 30px;

    border-radius: 5px;
}

.profile-picture-mobile {
    display: none;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.active {
    right: 0;
}



.login-form-container form {
    background: #fff;
    border: #BBBBBB;
    width: 40rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 2rem;
}

.login-form-container form .box {
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #444;
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: #5e5e5e;
    cursor: pointer;
}

.login-form-container form .btn {
    background: #000080;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    margin: 1.5rem 0;
    cursor: pointer;
}

.login-form-container form .btn:hover {
    background: #00004d;
}

.login-form-container form p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

.login-form-container form p a {
    color: #000080;
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: #444;
    cursor: pointer;
}
  
.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* ______________________________________________________________________ */

/* SIGN UP  */

.reg-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.active-reg {
    right: 0;
}

.reg-form-container form {
    background: #fff;
    border: #BBBBBB;
    width: 40rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 2rem;
}

.reg-form-container form input {
    width: 95%;
    height: 50px;

    padding: 10px;
    border: none;


}

.reg-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #444;
    text-align: center;
}

.reg-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.reg-form-container form .btn {
    background: #000080;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    margin: 1.5rem 0;
    cursor: pointer;
}

.reg-form-container form .btn:hover {
    background: #00004d;
}

.reg-form-container form p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

.reg-form-container form p a {
    color: #000080;
    text-decoration: underline;
}

.reg-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: #444;
    cursor: pointer;
}
  
.reg-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}


/* END SIGN UP */

/* NAVIGATION SECTION */
#navigation {
    height: 40px;
    background: #1D70B8;
    width: 100%;
}

#navigation ul li a {
    text-decoration: none;
    color: white;
}

#navigation ul li:hover {
    text-decoration: underline;
}

.nav-menu {
    display: flex;
    gap: 100px;
    padding: 10px 0;
    justify-content: center;
    list-style: none;
    color: white;
}

#hero-section {
    background-image: url(../images/exportBg.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 45px;
    text-align: center;

    z-index: 999;
}

.hero-text {
    font-size: 4rem;
}

.hero-btn {
    width: 160px;
    height: 50px;

    background-color: #0A5290;
    border-radius: 5px;
    border: none;

    color: white;
}

#body-sub-section-1 {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: row;
    
    gap: 30px;
}

.sub-container-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-text h3{
    margin-bottom: 10px;
}

.container-2 {
    background-image: url(./images/Group\ 109.png);
    
    height: 345px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image-1-container {
    background-image: url(./images/Group\ 107.png);

    height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;

    padding-bottom: 5px;
}

.image-2-container {
    background-image: url(./images/Group\ 108.png);

    height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;

    padding-bottom: 5px;
}

.container-text {
    color: white;
    margin: 0 0 0 10px;

}
/* MOBILE NAVIGATION */
.mobile-nav {
    display: none;
}
/* .bio {
    line
} */

@media screen and (max-width: 1056px ) {
    #header-banner {
        gap: 20px;
    }

    #header-banner .banner-sub {
        gap: 450px;
    }
}

@media screen and (max-width: 956px ) {
    #header-banner {
        gap: 20px;
    }

    #header-banner .banner-sub {
        gap: 250px;
    }

    .hero-text {
        font-size: 3rem;
    }

    .images-container {
        gap: 10px;
    }

    .image-1-container {
        height: 200px;
        width: 200px;
    }
    
    .image-2-container {
        height: 200px;
        width: 200px;
    }

    .container-2 {
        
        height: 295px;
        width: 200px;
    }
}

@media screen and (max-width: 746px ) {
    #header-banner {
        gap: 10px;
    }

    #header-banner .banner-sub {
        gap: 150px;
    }

    .hero-text {
        font-size: 3rem;
    }

    .images-container {
        gap: 7px;
    }

    .image-1-container {
        height: 200px;
        width: 200px;
    }
    
    .image-2-container {
        height: 200px;
        width: 200px;
    }

    .container-2 {
        
        height: 295px;
        width: 200px;
    }
}

@media screen and (max-width: 700px) {

    #head-section {
        position: fixed;
        top: 0;
    }

    #navigation {
        display: none;
    }

    .profile-picture-mobile {
        display: block;
    }

    .profile-picture {
        display: none;
    }

    .placeholder {
        display: none;
    }

    .cta-buttons {
        display: none;
    }

    .mobile-cta {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 50px 0 0 0;
    
        gap: 50px;
    }

    .hidden {
        display: flex;
        transition: ease-in;
    }

    .mobile-nav {
        background-color: #0A5290;
        
        height: 50px;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 0;
        left: 0;

        overflow: hidden;

    
    }
    
    .mobile-nav div ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 50px;
    }
    
    .mobile-link {
        display: flex;
        flex-direction: column;

        align-items: center;

        text-decoration: none;
        color: white;
    }

    .mobile-nav-icon {
        height: 25px;
        width: 25px;
    }
}


* {
    margin: 0;
    padding: 0;
}


